<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-info text-light">
<br><br>
<h1 class="text-center">Masulot qo'shish</h1><br><br>
<div class="contact py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- form -->
		<form id="form"  >
			<div class="contact-grids1 w3agile-6">
				<div class="row">
					<div class="col-md-6 col-sm-6 contact-form1 form-group">
						<label class="col-form-label">Nomi</label>
						<input type="text" class="form-control"  id="name" name="name" required="required">
						<p id="error_name"></p>
					</div>
					<div class="col-md-6 col-sm-6 contact-form1 form-group">
						<label class="col-form-label">Description</label>
						<input type="text" class="form-control"  id="description" name="description" required="required">
						<p id="error_description"></p>
					</div>

					<div class="col-md-6 col-sm-6 contact-form1 form-group">
						<label class="col-form-label">Narxi</label>
						<input type="text" class="form-control" name="price" id="price" required="required">
						<p id="error_price"></p>
					</div>
					<div class="col-md-6 col-sm-6 contact-form1 form-group">
						<label class="col-form-label">Rasmi</label>
						<input type="file" class="form-control"  name="image" id="image" required="required">
						<p id="error_file"></p>
					</div>
					<div class="col-md-6 col-sm-6 contact-form1 form-group">
						<label class="col-form-label">Fayl</label>
						<input type="file" class="form-control"  name="file" id="file" required="required">
						<p id="error_file1"></p>
					</div>
				</div>
				<div class="right-w3l col-md-6">
					<input type="button" id="submit" class="btn btn-primary form-control" value="Yuklash">
					<br><br>
				</div>
				<a href="/image/show" style="float:left;" class="btn btn-success text-right ml-2">Maxsulotlar listi</a>
			</div>
			<br>
			<div id="success" class="text-center" style="color:green;"></div>
			<div id="error" class="text-center" style="color:red;"></div>
		</form>
	</div>
</div>
<p class="text-center">
	<img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
</p>
<script src="/js/product.js"></script>
</body>
</html>
